<nav class="navbar-fixed ">
  <nav>
    <div class="nav-wrapper">
      <a [routerLink]="['/home']" class="brand-logo">Mimilo</a>
      <a materialize="sideNav" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a [routerLink]="['/products']">Productos</a></li>
        <li><a class="modal-trigger" href="#contactSheet">Contacto</a></li>
        <li><a [routerLink]="['/products']">Quienes somos</a></li>
        <!-- <li><a [routerLink]="['/login']">Ingresar</a></li> -->
        <li><a class="modal-trigger" href="#logInRegister">Ingresar</a></li>
      </ul>
      <ul class="side-nav side-nav-fixed" id="mobile-demo">
        <li><a [routerLink]="['/products']">Productos</a></li>
        <li><a class="modal-trigger" href="#contactSheet">Contacto</a></li>
        <li><a [routerLink]="['/products']">Quienes somos</a></li>
        <li><a [routerLink]="['/login']">Ingresar</a></li>
      </ul>
    </div>
  </nav>
</nav>

<div class='container'>
  <router-outlet></router-outlet>
</div>

<!-- Contact Sheet Modal -->
<div id="contactSheet" materialize="modal" class="modal">
  <div class="row">
    <form class="col s12">
      <div class="row modal-form-row">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Nombre</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input id="icon_telephone" type="tel" class="validate">
          <label for="icon_telephone">Mail</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">Mensaje</label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat">Enviar</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
  </div>
</div>

<!-- Log In & Register Modal -->
<div id="logInRegister" materialize="modal" class="modal login">
  <ul class="tabs teal">
    <li class="tab col s3"><a class="white-text active" href="#login">Ingresar</a></li>
    <li class="tab col s3"><a class="white-text" href="#register">Resgistro</a></li>
  </ul>
  <div id="login" class="col s12">
    <form [formGroup]="loginForm" novalidate id="signin" (ngSubmit)="LogIn(loginForm.value)" role="form" class="col s12">
      <div class="form-container">
        <h3 class="teal-text">Ingresar</h3>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" [formControl]="loginForm.controls['email']">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" [formControl]="loginForm.controls['password']">
            <label for="password">Password</label>
          </div>
        </div>
        <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
        <label for="filled-in-box">Recordarme</label>
        <br>
        <center>
          <button type="submit" class="btn waves-effect waves-light teal">Ingresar</button>
          <br>
          <br>
          <a href="">¿Olvido contraseña?</a>
        </center>
      </div>
    </form>

    <div *ngIf="formSubmitted && !loginForm.valid" class="row">
      <div class="col s12 m10 l10 offset-m1 offset-l1">
        <div *ngIf="!loginForm.controls['password'].valid" class="chip red" style="padding: 10px 10px 10px 10px; width: 100%; height: 50px;">
          <i class=" close material-icons right white-text">close</i>
          <i class="material-icons white-text left" style="padding-top: 2px;">error</i>
          <h6 class="white-text"><b>ERROR!</b> Contraseña invalida.</h6>
        </div>

        <div *ngIf="!loginForm.controls['email'].valid" class="chip red" style="padding: 10px 10px 10px 10px; width: 100%; height: 50px;">
          <i class=" close material-icons right white-text">close</i>
          <i class="material-icons white-text left" style="padding-top: 2px;">error</i>
          <h6 class="white-text"><b>ERROR!</b> Direccion de mail no valida.</h6>
        </div>
      </div>
    </div>
   
  </div>
  <div id="register" class="col s12">
    <form class="col s12">
      <div class="form-container">
        <h3 class="teal-text">Bienvenido</h3>
        <div class="row">
          <div class="input-field col s6">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Primer nombre</label>
          </div>
          <div class="input-field col s6">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Apellido</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email-confirm" type="email" class="validate">
            <label for="email-confirm">Confirmacion Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate">
            <label for="password">Contraseña</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password-confirm" type="password" class="validate">
            <label for="password-confirm">Confirmacion Contraseña</label>
          </div>
        </div>
        <center>
          <button class="btn waves-effect waves-light teal">Enviar</button>
        </center>
      </div>
    </form>
  </div>
</div>

<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">A cerca de nosotros</h5>
        <p class="grey-text text-lighten-4">Somos una empresa familiar que nació por el amor hacia nuestro hijito y esperamos poder ayudar a todos aquellas familias
          allá afuera con productos originales y saludables.</p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Información Externa</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Encuentrenos</h5>
        <ul>
          <li>
            <a href="#!"> 
              <img src="/assets/img/footer/facebook.png">
            </a>
          </li>
          <li>
            <a href="#!"> 
              <img src="/assets/img/footer/instagram.png">
            </a>
          </li>
          <li>
            <a href="#!"> 
              <img src="/assets/img/footer/twitter.png">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by <a class="brown-text text-lighten-3">Montu</a>
    </div>
  </div>
</footer>