<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">Mimilo</h1>
      <div class="row center">
        <h5 class="header col s12 light">Una empresa que se preocupa por la salud de tu bebe</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
      </div>
      <br><br>

    </div>
  </div>
  <div materialize="parallax" class="parallax"><img src="/assets/img/home/home1.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons material-icons-lgsize">flash_on</i></h2>
          <h5 class="center">Desarrollo saludable</h5>

          <p class="light">Todos nuestros productos se encuentra desarrollados con algodon organico de las mas alta calidad, asegurandonos
            asi de la salud de tu bebito.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">group</i></h2>
          <h5 class="center">Experiencia unicas</h5>

          <p class="light">Al desarrollar nuestros propios productos nos aseguramos de tener productos originales y capaces de adaptarse a
            todas las necesidades de nuestros clientes.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Facil utilizacion</h5>

          <p class="light">Los productos que diseñamos estan pensados para ser utilizados directamente sin mayores complicaciones.</p>
        </div>
      </div>
    </div>

  </div> 
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Una empresa familiar</h5>
      </div>
    </div>
  </div>
  <div materialize="parallax" class="parallax"><img src="/assets/img/home/home2.jpg"  alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Comuniquese con nosotros</h4>
        <p class="left-align light">Siempre disponibles para escuchar las necesidades de nuestros clientes por lo que no dudes en contactarse con nosotros
          por todos nuestros medios de comunicacion.
          Estamos atentos a sugerencias y criticas constructivas de cualquier tipo
        </p>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Productos originales y unicos</h5>
      </div>
    </div>
  </div>
  <div materialize="parallax" class="parallax"><img src="/assets/img/home/home3.jpg" alt="Unsplashed background img 3"></div>
</div>